.page {
  max-width: 1440px;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  padding: 0 clamp(2rem, -11.538rem + 21.154vw, 7.5rem);
}

.page::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #e3f5f5;
  top: 76px;
  left: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
  padding-bottom: 14px;
}

.header__menu {
  display: flex;
  margin-right: clamp(1.25rem, -20.904rem + 34.615vw, 10.25rem);
}

.menu__list {
  display: flex;
  justify-content: flex-start;
  gap: clamp(1rem, -1.154rem + 3.365vw, 1.875rem);
  font-weight: 400;
  font-size: 14px;
}

.menu__item-dropdown {
  display: flex;
  gap: 2px;
  align-items: center;
}

.header__button {
  background-color: #e3f5f5;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #03b2a5;
  padding: 14px 20px;
}

.button {
  cursor: pointer;
}

.header__burger-button {
  display: none;
}

.menu__arrow {
  cursor: pointer;
}

@media (max-width: 1023px) {
  .page {
    padding: 0 20px;
  }

  .menu {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header__burger-button {
    display: block;
  }
}

/* Main section */

.breadcrumbs {
  margin-top: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(51, 51, 51, 0.7);
}

.breadcrumbs__list {
  display: flex;
  gap: 5px;
}

.margin-left {
  margin-left: 5px;
}

.blog-header__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #333333;
  margin-top: 27px;
  margin-bottom: 32px;
}

.blog-header__filters {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.filter {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #c1c5cd;
  border-radius: 24px;
  padding: 6px 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #333333;
  /* margin-top: 32px; */
}

.filter-active {
  border: 2px solid #16c8bb;
}

.icon {
  margin-left: 4px;
}

/* main-cards-section */

.main-cards-section {
  margin-top: 20px;
  display: flex;
  gap: 24px;
}

.main-card {
  /* width: 588px; */
  width: clamp(29.25rem, 10.788rem + 28.846vw, 36.75rem);
  min-height: 499px;
}

.card {
  border: 1px solid #dedede;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-card__image {
  object-fit: cover;
  object-position: bottom;
  height: 260px;
  width: 100%;
  display: block;
}

.card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
}

.card-author {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: #494949;
}

.card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin-top: 8px;
  /* margin-bottom: 64px; */
}

.card-date {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: #868686;
  /* margin-top: 68px; */
  margin-top: auto;
  /* justify-self: flex-end; */
}

.second-image {
  object-position: center;
}

.filter-card {
  position: absolute;
  top: 4px;
  left: 7px;
  background-color: #ffffffb2;
  margin-top: 0;
}

.filter-card-second {
  top: 45px;
  left: 7px;
}

@media (max-width: 1023px) {
  .main-cards-section {
    flex-direction: column;
  }

  .main-card {
    width: 100%;
    min-height: 594px;
  }

  .main-card__image {
    height: 404px;
  }
}

/* secondary-card-section */

.secondary-cards-section {
  margin-top: 24px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.secondary-card {
  width: clamp(19rem, 6.692rem + 19.231vw, 24rem);
  min-height: 475px;
}

.secondary-card__image {
  object-fit: cover;
  object-position: center;
  height: 260px;
  width: 100%;
  display: block;
}

.secondary-cards-section__button {
  padding: 12px 16px;
  background: #35b3a9;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  width: 182px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 96px;
}
